body {
    margin: 0;
    font-family: 'Prompt', sans-serif;
    background: url(../imagenes/r364_akje_220615.jpg);
    background-size: cover;
    color: #333;
    overflow: hidden;
    
}

main {
    width: 600px;
    margin: 100px auto;
    display: flex;
    align-items: center;
}

.sectionOne{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0 30px 30px;
    border-radius: 8px;
}

h1{
    text-align: center;
}

button{
    height: 100px;
    width: 100px;
    font-size: 40px;
    color: white;
    font-weight: bold;
}

button:hover{
    cursor: pointer;
}

.sectionTwo {
    background-color: rgba(255, 255, 255, 0.2);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 250px;
    height: 400px;
    padding: 0 20px;
}

.estadisticas {
    border: 1px solid white;
    height: 100px;
    border-radius: 8px;
    padding: 20px 20px;
    box-sizing: border-box;
}

footer{
    text-align: center;
}

a{
    text-decoration: none;
}