*{
	margin: 0;
	padding: 0;
}
body{
	background: #1a4a86;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
.text3 {
    
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 36px rgb(0, 0, 0); 
    text-transform: uppercase;
}
.contenedor{
	padding: 10px;
	width: 980px;
	max-width: calc(100% - 20px);
	margin: auto;
	margin-top: 50px;
	color: #fff;
	font-family: sans-serif;
}
.concursantes{
	margin-top: 20px;
	text-align: center;
	margin: auto;
	position: relative;
}
h1{
	text-align: center;
}
canvas{
	margin-top: 10px;
	position: relative;
	z-index: 1;
}
button{
	position: relative;
	padding: 10px 20px;
	font-size: 18px;
	background: #bf780f;
	color: #fff;
	border-style: none;
	z-index: 10;
	cursor: pointer;
	margin-top: 10px;
}
.mark-winner{
	position: absolute;
	clip-path: polygon(0 10px,60px 0,60px 20px);
	background: red;
	width: 60px;
	height: 20px;
	top: 50%;
	right: 18%;
	z-index: 10;
	box-shadow: 0 0 3px #33333399;
}
.caras{
	right: 99%;
	position: absolute;
	width: 0%;
	height: 50%;
	filter: drop-shadow(
        0 0 10px rgba(157, 174, 177, 0.9)
    );
    font-size: 1.5em;
    border: none;
    color: rgb(0, 204, 255);
    text-shadow: 0px 0px 36px rgba(0, 255, 255, 1); 
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 8px 16px rgba(99, 71, 255, 0.6);
}
.caras :hover{
	
    transform: translateY(-2px); 
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.8);

}
.btn-primary :hover{
	
    transform: translateY(-2px); 
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.8);

}
.caraver{
	margin-left: 4px;
	width: 80px;
	border-radius: 70px;
}
.caraama{
	margin-left: 10px;
	width: 73px;
	border-radius: 100%;
}
.cararoja{
	width: 89px;
	margin-left: -3px;
	border-radius: 70px;
}
h1{
	font-size: 25px;
	color: rgb(0, 0, 0);
	margin-top: -13px;
}
.btn-primary{
    font-size: 30px;
	width: 20px;
	height: 10px;
	background: rgba(43, 255, 0, 0.4);
	border: 2px solid #35ff22;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: black;
	margin-left: 13px;
	border-radius: 7px;
	text-shadow: 0px 0px 36px rgb(94, 255, 0); 
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 8px 16px rgba(47, 236, 0, 0.6);
}
.amarillo{
	font-size: 30px;
	width: 20px;
	height: 10px;
    margin-left: 4px;
	background: rgba(255, 251, 0, 0.4);
	border: 2px solid #fbff00;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: black;
	border-radius: 7px;
	text-shadow: 0px 0px 36px rgb(241, 237, 0); 
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 8px 16px 	rgba(240, 224, 0, 0.6);
}
.rojo{
	font-size: 30px;
	width: 20px;
	height: 10px;
	margin-left: 6px;
	background: rgba(255, 0, 0, 0.4);
	border: 2px solid #ff0000;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: black;
	border-radius: 7px;
	text-shadow: 0px 0px 36px rgb(255, 0, 0); 
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 8px 16px rgba(255, 0, 0, 0.6);
}