body {
    margin: 0;
    font-family: 'Pixel';
    background: url('imagenes/view-3d-dice-with-abstract-scenery.jpeg');
    background-size: cover;
    color: #333;
    overflow: hidden; 
    position: fixed;
    right: -50%;
    height: 200vh; 
    width: 200vw;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100vw; 
    margin: auto;
    text-align: center;
    border-radius: 10%;
    padding: 5%;
    position: relative;
}

.logo {
    width: 63%;
    position: relative;
    bottom: 95px;
    animation: moveLogoVertical 2s infinite alternate ease-in-out;
    margin-bottom: 20px;
}

@keyframes moveLogoVertical {
    0% { transform: translateY(0); }
    100% { transform: translateY(25px); }
}
.text3 {
    font-family: 'pixel';
    font-size: 990%; 
    position:relative;
    color: #ffffff;
    left: 0px;
    right: 0px;
    bottom: 95px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
.text2 {
    font-family: 'Poppins', sans-serif;
    font-size: 4vw; 
    color: #fff;
    font-weight: bold;
}

.btn-primary {
    background-image: url(imagenes/ers.png);
    background-position: center;
    font-size: 2.0em;
    margin-top: -190px;
    padding: 15px 60px;
    position: relative;
    border: none;
    border-radius: 50px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 8px 16px rgba(99, 71, 255, 0.6);
}
.btn-primary:hover {
    background-color: #5a5a9f; 
    transform: translateY(-5px); 
    box-shadow: 0 12px 24px rgba(99, 71, 255, 0.8);
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(108, 117, 125, 0.7);
    }
    70% {
        transform: scale(1.1);
        box-shadow: 0 0 15px 15px rgba(108, 117, 125, 0);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(108, 117, 125, 0);
    }
}


.music-button:hover {
    background-color: #5a6268; 
}
.dropdown-toggle {
    background-color: transparent; 
    border: none; 
    color: #ffffff00; 
    font-size: 144%; 
    position: relative;
    left: 810%;
    bottom: 310px;
    z-index: 1000; 
}
.music-menu-button {
    width: 78px;
    height: 78px;
    position: relative;
    top: -310px;
    left: 470px;
    background-image: url(imagenes/icons8-menu-96.png); 
    background-size: cover;
    background-repeat: no-repeat;
    border: none; 
    background-color: transparent; 
}


.music-menu-button:hover {
    opacity: 0.8;
}

.dropdown-menu {
    background-color: #a42aaf63; 
    color: #ffffff; 
    border-radius: 8px; 
    border: 1px solid #a42aaf; 
    padding: 10px; 
}

.dropdown-item {
    padding: 10px 20px; 
    border-radius: 4px; 
    font-size: 18px; 
}

.dropdown-item:hover {
    background-color: #d1d1d1; 
    color: #fff; 
}

.dropdown-item:focus {
    background-color: #a42aaf; 
    color: #ffffff; 
}
.avatar-container {
    position: relative;
    display: flex;
    left: 67%;
    bottom: 531px;
    align-items: center;
    justify-content: center;
}

.avatar {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    background-color: transparent; 
    animation: pulse 2s infinite;
}
.avatar::after {
    content: "";
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 20%;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    transform: scaleX(-1);
    filter: blur(3px);
}

.avatar-message {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffffb0;
    padding: 10px 8px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    color: #000;
    text-align: center;
    font-size: 18px;
}
.modal-title{
    color: #fff;
}
.modal-body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}
.modal-content{
    background-color: #ff8fec83;
    top: 100px;
}
.btn-secondary{
    background-color: #ffffff79;
    border: #a42aaf00;
}
@font-face{
    font-family: 'pixel';
    src: url(letra/NerkoOne-Regular.ttf);
    font-weight: 100;
    
}
.starry-background {
    position: absolute;
    width: 460%;
    height: 460%;
    background: url('imagenes/aca.png') repeat;
    animation: moveStars 70s linear infinite;
}

@keyframes moveStars {
    
    from { background-position: 0 0; }
    to { background-position: -10000px 0; }
}
.logo:hover {
    box-shadow: 10px 10px 30px rgba(255, 255, 255, 0.211);
    transform: scale(1.05);
}
