body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(imagenes/imgh.png);
    background-size:cover;
    background-repeat: no-repeat;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    
}
.container{
    color: rgb(17, 16, 17);
    background-color: #ce46e9;
    font-size: 345%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    width: 40%;
    height: 15%;
    border: solid 3px;
    border-radius: 15%;
    text-align: center;
     top: 4%;
    left: 29%; 
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
}


.Diego0{
    width: 90%;
    height: 240%;
    font-size: 124%;
    left: 7%;
    border: solid 3px;
    border-radius: 10%;
    color: black;
    margin-top: 40%;
    position: absolute;
    background: rgba(0, 0, 0, 0.4)
    
}
.Diego2{
    position: relative;
   font-size: 59%;
   top: 169%;
   margin-left: 11%;
  color: rgb(255, 255, 255);
  font-weight: bold;
  position: absolute;
}
.Diego3{
    font-size: 34%;
    top: 10%;
    padding-left: 4%;
   color: black;
   text-align: left;
   position: absolute;
   font-weight: bold;

}

.Diego4{
    font-size: 34%;
    top: 10%;
    margin-left: 70%;
    color: gold;
    position: absolute;
    
}


.button-salida{
    position: relative; /* O relative, dependiendo del contexto */
    width: 50px; /* Ajusta según sea necesario */
    height: 50px; /* Ajusta según sea necesario */
    bottom: 20px; /* Ajusta según sea necesario */
    right: 74vh; /* Ajusta según sea necesario */
    margin-top: -50%;
    font-size: 22px; /* Ajusta según sea necesario */
    background: #c4118e;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.button-wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}


.button-image {
    width: 80px; 
    height: auto;
    position: absolute;
    top: -100px; 
}


    .Diego5{
        position: relative;
        top: 360%;
        color: rgb(0, 0, 0);
        left: 3%;
        font-size: 60%;         
    }

    .img2{
       width: 150%;
       height: 150%; 
       margin-left: -590%;
       margin-top: 24%;
    }
    .contenedor{
        float: right;
        animation: movimiento 2.5s linear infinite;   
        margin-left: -23px;
        
           
            }
            .banner_img2{
                float: right;
                font-size: 50px;
                padding-left: -20%;
                animation: movimiento 2.5s linear infinite;
                font-weight: bold;
                }
            @keyframes movimiento{
                0%{
                    transform: translateY(0);
                }
                50%{
                    transform: translateY(15%);
                   }
                   100%{ 
                    transform: translateY(0);
                }     
            }
        
           
   .img6{
    width: 50px;
    height: auto;
    margin-left: 36%;
    margin-top: 47%;
    object-fit: cover; /* Mantiene la proporción y cubre el área especificada */
    clip-path: circle(50%); /* Recorta la imagen en un círculo */
    position: absolute;
   }
   .facebook{
    position: relative;
    margin-top: 159px;
    margin-left: 439px;    
    position: absolute;

   }
   .instagram{
  position: relative;
  margin-top: 160px;
  margin-left: 521px;
   }
   .twitter{
    position: relative;
    margin-left: 600px;
    margin-top: -38px;
    
    

   }
   .gif{
    width: 55%;
    height: 50%;
    margin-left: 74%;
    margin-top: 10%
   }
   .Felicidades{
    font-size: 23px;
    margin-top: 7%;
    font-weight: 900;
    color: aliceblue;
    
}



