 body {
    margin: 0;
    font-family: 'Prompt', sans-serif;
    background: url('imagenes/view-3d-dice-with-abstract-scenery.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    overflow:hidden; 
    
}
.logo{
    width: 22%;
    height: 20%;
    position: relative;
    left: 210px;
    margin-bottom: 12px;
    animation: moveLogoVertical 2s infinite alternate ease-in-out;
}
@keyframes moveLogoVertical {
100% {
    transform: translateY(100);
}
100% {
    transform: translateY(25px); 
}
}
form {
    border: 2px solid #9547a546;
    border-radius: 16%;
    padding: 5%;
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    bottom: 7%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
   
}
.form-control {
    border-radius: 4px; 
    border: 1px solid #86427d3f; 
}

.btn-primary {
    background-image: url(imagenes/ers.png);
    background-position: center;
    border-radius: 6px;
    position: relative;
    left: 25%;
    border: 2px solid #881e8b00;
    color: #fff;
    transition: background-color 0.3s ease, transform 0.3s ease; 
}
.btn-primary:hover {
    background-color: #573c6f; 
    transform: scale(1.05); 
}
.btn-primary:active {
    background-color: #3e2d5b;
    border-color: #7c1f78; 
    
}

.faccebook-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px; 
    height: 60px; 
    position: relative;
    left: 26%;
    border-radius: 50%;
    background-color: #6c757d00; 
    color: #000000; 
    border: none;
    font-size: 39px; 
    cursor: pointer;
}

.google-button:hover {
    background-color: #5a6268; 
}
.google-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px; 
    height: 60px; 
    position: relative;
    left: 50%;
    border-radius: 50%;
    background-color: #6c757d00; 
    color: #000000; 
    border: none;
    font-size: 39px; 
    cursor: pointer;
}

.faccebook-button:hover {
    background-color: #5a6268; 
}
.dropdown-toggle {
    background-color: transparent; 
    border: none; 
    color: #fff; 
    font-size: 24px; 
    bottom: 355px;
    left: 120%;
    z-index: 1000; 
    transition: color 0.3s ease;
}
.dropdown-toggle:hover {
    color: #f5a623; 
}
.dropdown-menu {
    background-color: #a42aaf63; 
    color: #ffffff; 
    border-radius: 8px; 
    border: 1px solid #a42aaf; 
    padding: 10px; 
}

.dropdown-item {
    padding: 10px 20px; 
    border-radius: 4px; 
    font-size: 18px; 
}

.dropdown-item:hover {
    background-color: #828181; 
    color: #fff; 
}

.dropdown-item:focus {
    background-color: #a42aaf; 
}
.avatar-container {
    position: relative;
    display: flex;
    left: 330px;
    top: 5%;
    align-items: center;
    justify-content: center;
}

.avatar {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    background-color: transparent; 
    animation: pulse 2s infinite;
}
.avatar::after {
    content: "";
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 20%;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    transform: scaleX(-1);
    filter: blur(3px);
}

.avatar-message {
    position: absolute;
    font-family:'pixel';
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffffb0;
    padding: 9px 9px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    color: #000;
    text-align: center;
    font-size: 19px;
}
.modal-title{
    color: #fff;
}
.modal-body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}
.modal-content{
    background-color: #ff8fec83;
    top: 100px;
}
.btn-secondary{
    background-color: #ffffff79;
    border: #a42aaf00;
}
@font-face{
    font-family: 'pixel';
    src: url(letra/NerkoOne-Regular.ttf);
    font-weight: 100;
    
}
.text3 {
    font-family: 'pixel';
    font-size: 270%; 
    color: #ffffff;
    margin-left: 29%;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}   
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
