@font-face {
    font-family: 'pixel';
    src: url(letra/NerkoOne-Regular.ttf);
    font-weight: 100;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(imagenes/view-3d-dice-with-abstract-scenery.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    font-family: 'pixel';
}

.logo {
    width: 240px; 
    height: auto;
    position: relative;
    right: -30px;
    animation: moveLogoVertical 5s infinite alternate ease-in-out;
}

@keyframes moveLogoVertical {
    0% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(50px); 
    }
}

.text {
    font-family: 'pixel';
    font-size: 3.5em;
    text-shadow: 2px 2px 4px rgb(255, 255, 255); 
    color: #6b2f74;
}

.text2 {
    font-family: 'pixel';
    position: relative;
    top: 40px;
    font-size: 3.1em;
    color: #77336c;
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
}

.button-container {
    display: flex;
    justify-content: center;
    position: relative;
    gap: 20px; 
    margin-top: 250px;
}

.button-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-image {
    width: 80px; 
    height: auto;
    position: absolute;
    top: -100px; 
}

.custom-btn {
    background-image: url(imagenes/ers.png);
    background-position: center;
    font-family: 'pixel';
    text-align: center;
    font-size: 1.8em;
    border: 0.1px solid #ffffff; 
    border-radius: 5px; 
    color: #ffffff; 
    transition: background-color 0.3s, color 0.3s; 
    box-shadow: 0 8px 16px rgba(99, 71, 255, 0.6);
    width: 250px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
    z-index: 1; 
}

.custom-btn:hover {
    background-color: #9235b8; 
    color: #fff; 
    border: 3px solid rgb(54, 186, 226);
}

.instagram-button-container {
    position: relative;
    top: 340px;
    right: 630px;  
    z-index: 1000; 
}

.instagram-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px; 
    height: 60px; 
    border-radius: 50%;
    background-color: #6c757d00; 
    color: #000000; 
    border: none;
    font-size: 30px; 
    cursor: pointer;
}
.menu-button-container{
    position: relative;
    right: 7vh;
  margin-top: -210px;
}
.fa-solid{
    font-size: 30px;
}

.instagram-button:hover {
    background-color: #5a6268; 
}

.modal-title {
    color: #fff;
}

.modal-body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

.modal-content {
    background-color: #ff8fec83;
    top: 100px;
}

.btn-secondary {
    background-color: #ffffff79;
    border: #a42aaf00;
}
