*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-image: url(./imagenes/descarga.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vh;
    overflow: hidden;
}
.logo{
    width: 250px;
    height: auto;
}
.players{
    border: 1px solid #000;
}