body {
    margin: 0;
    padding: 0;
    background-image: url(./imagenes/headRobott.gif);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #000;
    height: 100vh;
    overflow: hidden;
}

.card {
    margin-bottom: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: #f8f9fa33;
}

.chat-container {
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.logo{
    width: 25%;
    border-radius: 50%;
}
.chat-box {
    height: 200px;
    overflow-y: auto;
    border: 1px solid #000000;
    padding: 10px;
    background-color: #00000031;
    border-radius: 5px;
    text-align: end;
    color: #ccc;
}

.chat-input input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.menu-container {
    background-color: rgba(153, 145, 145, 0.308);
    backdrop-filter: blur(0.2em);
    padding: 20px;
    border-radius: 10px;
    width: 800px;
    height: auto;
}

.content-options {
    display: flex;
    justify-content: space-between;
}

.card:hover {
    transform: translateY(-1px);
    transition: transform 0.3s ease;
}

.dropdown-toggle:hover {
    background-color: #f8f9fa00;
}

#chat-input {
    border: none;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #000000a9;
    color: #ccc;
}

#chat-input:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(121, 121, 121, 0.5);
}

h1, h5 {
    color: #333;
}
.checkbox {
    display: none;
}
.checkbox-label {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}
.checked {
    background-color: green; 
    border-color: green;
}
.dropdown-menu.custom::before{
    display:none;
}
.dropdown-menu.custom::after {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
}
.card-icon {
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
    gap: 15px;
    padding: 0;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.card-icon:last-child {
    border-bottom: none; 
}

.card-icon img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}
.card-icon img:hover{
    transform: translateY(-1px);
    transition: transform 0.3s ease;
}
.description {
    font-size: 14px;
    color: #333;
    line-height: 1.4;
}
.description p {
    margin-bottom: 8px;
}