body {
    margin: 0;
    font-family: 'Prompt', sans-serif;
    background: url('imagenes/view-3d-dice-with-abstract-scenery.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    overflow:hidden;
    margin-left: 230px;
    margin-top: 70px;
    position: absolute;
}
.logo{
    width: 34%;
    height: 21%;
    margin-top: -38px;
    position: relative;
    left: 173px;
    margin-bottom: 12px;
    animation: moveLogoVertical 2s infinite alternate ease-in-out;
}
@keyframes moveLogoVertical {
    100% {
        transform: translateY(100);
    }
    100% {
        transform: translateY(25px); 
    }
    }
form {
    border: 2px solid #9547a546;
    border-radius: 16%;
    padding: 5%;
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    bottom: 7%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
   
}


.form-control {
    border-radius: 6px; 
    border: 1px solid #86427d3f; 
}


.text3 {
    position: relative;
    font-size: 29px;
    font-family: 'pixel';   
    color: #ffffff;
    margin-left: 10%;
    margin-top: 56px;
    text-shadow: 2px 2px 4px rgb(204, 0, 255);
    position: absolute;

}
.formm-label{
    font-size: 23px;
   margin-left: 52%;
   margin-top: 100px;
   padding-top: 80px;
   font-weight: bold;
}

.btn-primary {
    background-image: url(imagenes/ers.png);
    background-position: center;
    border-radius: 6px;
    position: relative;
    left: 25%;
    border: 2px solid #881e8b00;
    color: #000000;
    transition: background-color 0.3s ease, transform 0.3s ease; 
}
.btn-primary:hover {
    background-color: #573c6f; 
    transform: scale(1.05); 
}

.btn-primary:active {
    background-color: #3e2d5b;
    border-color: #7c1f78; 
}
.dropdown-toggle {
    background-color: transparent; 
    border: none; 
    color: #fff; 
    font-size: 24px; 
    position: relative;
    left: 120%;
    bottom: 363px;
    z-index: 1000; 
}


.faccebook-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px; 
    height: 60px; 
    position: relative;
    left: 23%;
    border-radius: 50%;
    background-color: #6c757d00; 
    color: #000000; 
    border: none;
    font-size: 39px; 
    cursor: pointer;
}

.google-button:hover {
    background-color: #5a6268; 
}
.google-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px; 
    height: 60px; 
    position: relative;
    left: 44%;
    border-radius: 50%;
    background-color: #6c757d00; 
    color: #000000; 
    border: none;
    font-size: 39px; 
    cursor: pointer;
}

.faccebook-button:hover {
    background-color: #5a6268; 
}
.instagram-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px; 
    height: 60px; 
    position: relative;
    left: 34%;
    border-radius: 50%;
    background-color: #6c757d00; 
    color: #000000; 
    border: none;
    font-size: 39px; 
    cursor: pointer;
}
.instagram-button:hover {
    background-color: #5a6268; 
}
   




@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}


.modal-title{
    color: #fff;
}
.modal-body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}
.modal-content{
    background-color: #ff8fec83;
    top: 100px;
}
.btn-secondary{
    background-color: #ffffff79;
    border: #a42aaf00;
}
@font-face{
    font-family: 'pixel';
    src: url(letra/NerkoOne-Regular.ttf);
    font-weight: 100;
    
}
    .dropdown-toggle {
        background-color: transparent; 
        border: none; 
        color: #fff; 
        font-size: 24px; 
        position: relative;
        left: 12%;
        bottom: 288px;
        z-index: 1000; 
    }
    
    .dropdown-menu {
        background-color: #a42aaf63; 
        color: #ffffff; 
        border-radius: 8px; 
        border: 1px solid #a42aaf; 
        padding: 10px; 
    }
    
    .dropdown-item {
        padding: 10px 20px; 
        border-radius: 4px; 
        font-size: 18px; 
    }
    
    .dropdown-item:hover {
        background-color: #828181; 
        color: #fff; 
    }
    
    .dropdown-item:focus {
        background-color: #a42aaf; 
    }
    
