body {
    margin: 0;
    padding: 0;
    background-image: url(./gif/Retronator.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


.logo {
    width: 50vh;
    height: 50vh;
    border-radius: 50px;
    filter: drop-shadow(
        0 0 10px rgba(0, 225, 255, 0.9)
    );
    animation: moveLogoVertical 2s infinite alternate ease-in-out;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }

  /* Efecto de hover */
  

  /* Animación de movimiento vertical */
  @keyframes moveLogoVertical {
    0% { transform: translateY(0); }
    100% { transform: translateY(20px); }
  }


.text3 {
    font-family: 'pixel';
    font-size: 3.5em;
    color: rgb(0, 204, 255);
    text-shadow: 0px 0px 36px rgba(0, 255, 255, 1); 
    text-transform: uppercase;
}

.btn-primary {
    margin-top: 50px;
    background-image: url(gif/fondo1.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 180px;
    height: 55px;
    filter: drop-shadow(
        0 0 10px rgba(0, 225, 255, 0.9)
    );
    font-size: 1.5em;
    border: none;
    color: rgb(0, 204, 255);
    text-shadow: 0px 0px 36px rgba(0, 255, 255, 1); 
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 8px 16px rgba(99, 71, 255, 0.6);
}

.btn-primary:hover {
    background-color: #5a5a9f; 
    transform: translateY(-2px); 
    box-shadow: 0 12px 24px rgba(99, 71, 255, 0.8);
}

.music-menu-button {
    width: 60px;
    height: 60px;
    background-image: url(imagenes/icons8-menu-96.png); 
    background-size: cover;
    border: none; 
    background-color: transparent; 
}

.music-menu-button:hover {
    opacity: 0.8;
}

.dropdown-menu {
    background-color: #a42aaf63; 
    color: #ffffff; 
    border-radius: 8px; 
    border: 1px solid #a42aaf; 
    padding: 10px; 
}

.dropdown-item {
    padding: 10px 20px; 
    border-radius: 4px; 
    font-size: 18px; 
}

.dropdown-item:hover {
    background-color: #d1d1d1; 
    color: #fff; 
}

.dropdown-item:focus {
    background-color: #a42aaf; 
    color: #ffffff; 
}

@font-face {
    font-family: 'pixel';
    src: url(letra/NerkoOne-Regular.ttf);
    font-weight: 100;
}

.starry-background {
    width: 460%;
    height: 460%;
    animation: moveStars 70s linear infinite;
}

@keyframes moveStars {
    from { background-position: 0 0; }
    to { background-position: -10000px 0; }
}

