body{
    margin: 0;
    background-image: url(/imagenes/r364_akje_220615.jpg);
    background-size:cover;
    overflow: hidden;
    font-family: 'Bungee', cursive;
}
.menu-container {
    width: 100%;
    max-width: 800px; /* Limita el ancho máximo */
    right: 0;
    left: 0;
    background: url('imagenes/50748.jpg') no-repeat center center;
    background-size: cover;
    border: none;
    background-color: transparent;
    margin: 20px auto;
    border: 2px solid #8129aa;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
    bottom: -20px;
    border-radius: 12px;

    flex-direction: column;
    align-items: center;
    animation: fadeIn 1.5s forwards;
}


.text3 {
    overflow: hidden;
    font-size: 300%;
    margin-top: -100px;
    color: #000000;
    left: 0px;
    right: 0px;
    bottom: 85px;
    
}
.imagen {
    animation: imagen 2s infinite alternate ease-in-out;
    width: 20%;
    height: 20%;
    margin-top: -119px;
    margin-left: 200px;


}
.move{
    position: absolute;
    top: 200px;
}
@keyframes imagen {
    0% { transform: translateY(0); }
    100% { transform: translateY(25px); }
}
.card{
    border: 3px solid;
    background:rgba(255, 123, 0, 0.3)
}


.music-button:hover {
    background-color: #5a6268;
}

.dropdown-toggle {
    background-color: transparent;
    border: none;
    color: #00000000; 
    font-size: 144%;
    z-index: 1000;
}
.dropdown-toggle:hover{
    color: #00000000;
}
.music-menu-button {
    background-image: url(/imagenes/icons8-menu-96.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    text-decoration: none;
}
.music-menu-button:hover {
    opacity: 0.8;
}
.dropdown-menu {
    background-color: rgba(164, 42, 175, 0.39); 
    color: #ffffff;
    border-radius: 8px;
    border: 1px solid #000000;
}

.dropdown-item {
    border-radius: 4px;
    font-size: 18px;
}

.dropdown-item:hover {
    background-color: #d1d1d1;
    color: #ffffff;
}

.dropdown-item:focus {
    background-color: #a42aaf;
}

.modal-title{
    color: #000000;
}
.modal-body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000000;
    
}
.modal-content{
    background-image: url(/imagenes/fondoM.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    background-position: center;
    border-radius: 50px;
    box-shadow: 0 8px 16px rgba(99, 71, 255, 0.6);
}
.modal-footer{
    background-image: url(/imagenes/fondoM.jpeg);
}
.button-salida{
    font-size: 33px;
    top: 10%;
}
.dropdown{
    font-size: 30px;
    left: 10px;
}
.max{
    width: 30%;
    height: 80px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    background-color: transparent; 
 
}
.message-box {
   
    background-color: rgba(179, 126, 126, 0.9); 
    border: none; 
    padding: 20px 30px; 
    margin: 30px auto; 
    position: relative;
    top: -20px; 
    font-size: 1.2rem; 
    font-family: 'Arial', sans-serif; 
    line-height: 1.6; 
    text-align: center;
    width: 65%; 
    border-radius: 12px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
    color: #333; 
    transition: transform 0.3s ease, background-color 0.3s ease; 
}
.message-box:hover {
    transform: translateY(-5px); 
    background:rgba(255, 115, 0, 0.9); 
}
.instruccion{
    font-size: 17px;
}
.como{
    color: #ff0000;
}
.uno {
  font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #333; /* Color del texto */
    margin-bottom: 10px; /* Espacio entre párrafos */
    line-height: 1.5; /* Espaciado entre líneas */
  }
  
  .uno:nth-child(odd) {
    background: rgba(245, 245, 245, 0.2); /* Fondo alternado para los párrafos impares */
    padding: 10px; /* Espaciado interior */
    border-radius: 5px; /* Bordes redondeados */
  }
  
  .uno:nth-child(even) {
    background: rgba(255, 255, 255, 0.2); /* Fondo alternado para los párrafos pares */
    padding: 10px;
    border-radius: 5px;
  }
  
