/* Estilos generales */
body {
    font-family: 'Bungee', cursive;
    background-image: url(./imagenes/descarga\ \(1\).gif);
    color: #fff;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover ;
}

/* Estilos para el contenedor del menú */
.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Estilos para el encabezado */
.header {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'pixel';
    font-size: 3.5em;
    color: rgb(0, 204, 255);
    text-shadow: 0px 0px 36px rgba(0, 255, 255, 1); 
    text-transform: uppercase;
}
.ingrese{
    text-align: center;
    margin-bottom: 20px;
    font-family: 'pixel';
    font-size: 3.5em;
    color: rgb(0, 204, 255);
    text-shadow: 0px 0px 36px rgba(0, 255, 255, 1); 
    text-transform: uppercase;
}
.text3 {
    font-size: 3rem;
    animation: fadeInDown 1s ease;
}

/* Estilos para el contenido del menú */
.menu-content {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.179);
    backdrop-filter: blur(0.1em);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

/* Estilos para los formularios */
.form-label {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.form-control {
    background-color: rgba(35, 32, 32, 0.355);
    border: 1px solid #fff;
    color: #fff;
}

/* Estilos para los botones */
.btn {
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Estilos para la imagen */
.imagen {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

/* Estilos para el pie de página */
.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

/* Animación */
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.cancelar{
    background-image: url(./gif/fondo1.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.unirse{
    background-image: url(./gif/fondo1.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}