body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    padding: 20px;
    background-color: #a5a5a5;
    justify-content: center;
    text-align: center;
}
.container {
    text-align: center;     
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#laberinto {
    display: grid;
    background-image:url(pasto.jpg);
    border: 1px solid;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cell {
    width: 20px;
    height: 20px;
}
.wall {
    background-image: url(muro.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.player {
    background-image: url(minero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.goal {
    background-color: #f44336;

}
#level-info {
    font-size: 24px;
    margin-top: 10px;
}